# This workflow will build, pack and publish AdventofCode.Lib to github packages

name: Package AdventOfCode.Lib

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: csharp/AdventOfCode.Lib

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: GitTools
      uses: GitTools/actions/gitversion/setup@v0.10.2
      with:
        versionSpec: '5.x'
    
    - name: Determine version
      uses: GitTools/actions/gitversion/execute@v0.10.2
      with:
        useConfigFile: true
       
    - name: Pack
      run: dotnet pack --no-build --configuration Release -p:Version=${{ env.GitVersion_SemVer }}

    - name: Push package to Github
      run: dotnet nuget push **/*.nupkg --no-symbols --skip-duplicate --api-key ${{secrets.GITHUB_TOKEN}}
